<% if @error_message != "" %>
    <div class="red-text">
        <%= @error_message %>
    <div>
<% elsif %>
    <div class="span6 f-form-container">
    	<form id="send_email_form" method="POST" class="form-horizontal f-form" action="<%=url_for(controller: "services", action: "index")%>">
        <% if session[:user_login_service] == "twitter"%>
            <div class="control-group">
                <label>To continue using the website, please type your email below to receive the link.</label>
            </div>
    	    <div class="control-group">
    	        <input type="text" id="email" name="email" class="input-large span5" value="<%= @email %>"></input>
    	    </div>
    	<% end %>
    	<% if @already_sent_email %>
    		<div class="control-group">
    			<label>An email sent to your email address. Please follow the link to use ListsofLists website. If you don't see the email, please click on Resend below'</label>
    		</div>
            <div class="control-group">
                <button type="submit" id="submit" class="btn btn-primary button-loading" data-loading-text="Loading...">Resend</button>
            </div>
        <% elsif %>
            <div class="control-group">
                <button type="submit" id="submit" class="btn btn-primary button-loading" data-loading-text="Loading...">Send</button>
            </div>
        <% end %>    
    	</form>
    </div>
    
    <% if session[:user_login_service] == "twitter"%>
        <script language="javascript" type="text/javascript">
            $(document).ready(function(){
                $("#send_email_form").validate({
                    rules: {
                        email: { required: true, email: true }
                    },
                    messages: {
                        email: { required: "Please input your email.", email: "Please input a valid email." }
                    },
                    errorPlacement: function (error, element) {
                        setErrorValidation(error, element);
                    },
                    success: function (label, element) {
                        disposeErrorValidation(label, element);
                    }
                });
                
                $("#send_email_form").submit(function(){
                    if ($(this).valid()){
                        return true;
                    }
                    
                    return false;
                });
            });
        </script>
    <% end %>
<% end %>