<div class="">
	<h1>Favorite lists</h1>
	<div class="control-group list_container">
	</div>
	<button class="btn btn-primary btn-large" data-dismiss="modal" id="addFavoriteList">Add new favorite list...</button>
	<div class="processing"></div>	
</div>

<div id="createFavoriteList" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3>Create new favorite list</h3>
	</div>
	<div class="modal-body">
		
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary"></button>
	</div>
</div>

<script language="javascript" type="text/javascript">
	function loadFavoriteLists(){
		$("div.processing").html(getProcessingHtml("Fetching list...", __RootURL));
		$.ajax({
			url: "<%= url_for(controller: "favorite_list", action: "get_favorite_list") %>",
			success: function(result){
				if (result.success){
					$("div.processing").html("");
					renderList(result.data);
				}
				else{
					$("div.processing").html(getErrorHtml(result.msg));	
				}
			},
			error: function(){
				$("div.processing").html(getErrorHtml());
			}
		});	
	}

	function renderList(data){
		$("div.list_container").html("");
		var columns = new Array();
		columns.push({ field: "id", key: true, visible: false });
		columns.push({ field: "name", display: "List name" });
		columns.push({ display: "", width: "25%", align: "center", customTemplateFunc: actionColumn });
		
		new GridView($("div.list_container"), columns, data, "No favorite lists found under your account", null, null);
		$("div.list_container table").addClass("table");
		$("div.list_container table").addClass("table-bordered");
	}
		
	function actionColumn(rowObj){
		return "<a href='#viewDetail' list_id='" + rowObj.id + "'>View detail</a> | " + 
			   "<a href='#showCorrelation' list_id='" + rowObj.id + "'>Show correlated lists</a>";
	}
		
	$(document).ready(function(){
		loadFavoriteLists();
		
		$("#addFavoriteList").click(function (e){
			
		});
	});
	
</script>
